/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: rgba(255, 255, 255, 0.9);
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.game-container {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 30px 20px;
    position: relative;
}

.game-header {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    color: rgb(85, 145, 200);
}

.instructions {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.word-display {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 10px;
    margin: 20px 0;
    color: rgb(85, 145, 200);
}

.lives {
    font-size: 18px;
    margin-bottom: 20px;
    color: rgb(255, 99, 71);
}

.guess-input {
    margin-top: 20px;
}

input[type="text"] {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid rgb(200, 200, 255);
    border-radius: 8px;
    outline: none;
    margin-bottom: 20px;
    transition: border 0.3s;
    text-align: center;
    text-transform: uppercase;
}

input[type="text"]:focus {
    border: 2px solid rgb(85, 145, 200);
}

.btn {
    margin-top: 10px;
    border: none;
    border-radius: 1000px;
    padding: .85em 1em;
    background:  rgb(85, 145, 200);
    color: white;
    font: inherit;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: 150ms ease;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.btn-hint {
    padding: 10px 20px;
    font-size: 16px;
    color: rgb(85, 145, 200);
    background: transparent;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.3s;
}

.btn-hint:hover {
    color: rgba(85, 144, 200, 0.495);
}

.result {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

/* White background for spaces */
.space {
    background-color: white;
    display: inline-block;
    width: 10px;
    /* Space width */
}

/* Add this to your game.css file */
.quit-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    /* Make the cross bigger */
    cursor: pointer;
    color: red;
    /* Optional: Change the color of the cross */
    background: none;
    border: none;
    outline: none;
}