/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body {
    font-family: 'Arial', sans-serif;
    background: rgba(255, 255, 255, 0.9);
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}


.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.btn {
    margin-top: 10px;
    border: none;
    border-radius: 1000px;
    padding: .85em 1em;
    background:  rgb(85, 145, 200);
    color: white;
    font: inherit;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: 150ms ease;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.leaderboard-container {
    width: 90%;
    max-width: 800px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin-bottom: 20px;
}

.leaderboard-header {
    background: rgba(85, 144, 200, 0.495);
    color: #333;
    padding: 20px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: rgb(240, 240, 240);
}

th,
td {
    padding: 15px;
    text-align: center;
    font-size: 16px;
}

th {
    font-weight: bold;
    color: rgb(85, 145, 200);
}

tbody tr:nth-child(even) {
    background-color: rgba(50, 144, 200, 0.255);
}

tbody tr:hover {
    background-color: rgba(50, 144, 200, 0.255);
    cursor: pointer;
}

.highlight {
    background: linear-gradient(90deg, rgba(255, 240, 210, 0.8), rgba(240, 230, 255, 0.8));
    color: #333;
    font-weight: bold;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #555;
}

.current-score-container {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}