<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guess Game Leaderboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='leader.css') }}">
</head>

<body>
    <div class="button-container">
        <a href="{{ url_for('home') }}" class="btn">Home</a>
        <a href="{{ url_for('logout') }}" class="btn">Sign Out</a>
    </div>
    <br><br>
    <div class="leaderboard-container">
        <div class="leaderboard-header">Your Last Score</div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Score</th>
                    <th>Correctly Guessed Words</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ username }}</td>
                    <td>{{ last_score.score }}</td>
                    <td>{{ last_score.guesses }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br><br><br>

    <div class="leaderboard-container">
        <div class="leaderboard-header">Top Scored Users</div>
        <table>
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Player Name</th>
                    <th>Score</th>
                    <th>Correctly Guessed Words</th>
                </tr>
            </thead>
            <tbody>
                {% for player in leaderboard %}
                <tr class="{{ 'highlight' if loop.index == 0 }}">
                    <td>{{ loop.index }}</td>
                    <td>{{ player.player_name }}</td>
                    <td>{{ player.score }}</td>
                    <td>{{ player.guesses }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>