<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>

<body>
  <div class="wrapper">
    <h1>Login</h1>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <form action="{{ url_for('login') }}" method="POST">
      <div>
        <label for="email-input">Email</label>
        <input type="email" name="email" id="email-input" placeholder="Enter your email" required>
      </div>
      <div>
        <label for="password-input">Password</label>
        <input type="password" name="password" id="password-input" placeholder="Enter your password" required>
      </div>
      <button type="submit">Login</button>
    </form>
    <br>
    <p>New here? <a href="{{ url_for('signup') }}">Create an Account</a></p>
  </div>
</body>

</html>