<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
</head>

<body>
  <div class="wrapper">
    <h1>Signup</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <form action="{{ url_for('signup') }}" method="POST">
      <div>
        <label for="firstname-input">Firstname</label>
        <input type="text" name="firstname" id="firstname-input" placeholder="Enter your first name" required>
      </div>
      <div>
        <label for="email-input">Email</label>
        <input type="email" name="email" id="email-input" placeholder="Enter your email" required>
      </div>
      <div>
        <label for="password-input">Password</label>
        <input type="password" name="password" id="password-input" placeholder="Enter your password" required>
      </div>
      <div>
        <label for="repeat-password-input">Repeat Password</label>
        <input type="password" name="repeat-password" id="repeat-password-input" placeholder="Repeat your password"
          required>
      </div>
      <button type="submit">Signup</button>
    </form>
    <br>
    <p>Already have an Account? <a href="{{ url_for('login') }}">Login</a></p>
  </div>
</body>

</html>